
/* Nav related styles */
nav{
    display: flex;
    justify-content: space-between;  /* space between tags*/
    align-items: center;  /* h3 & ul tag are the same level or center or same vertial a ache*/
    margin: 0 200px;
}
nav ul{
    display: flex;
    align-items: center; /* "ul" tag er vitore ja ache tara sobai same vertial a ache*/
}
 nav li{
    list-style: none;
    margin-right: 50px;
} 
nav a{
    text-decoration: none;
} 

 .org_back_color{
    background-color: #FD6E0A; 
    color: white;
    border-radius: 5px;
    border: 0;
    height: 37px;
    padding: 10px 15px;
    width: 120px;
} 
.org_color{
    color: #FD6E0A;
}

/* Header styles */
.header_class{
    background-color: #fff8f3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.div_class1{
    padding: 100px 100px 0px 200px; 
    display: flex;
    align-items: center;
}

#id1{
    font-size: x-large; 
}
#id2{
    font-size: xx-large;
    font-weight: 800;
    margin-top: 5px;
}
#id3{
    text-align: justify;
}
#id4{
    border: 1;
    border-radius: 5px;
    border-color: #FD6E0A;
    color: #fd6e0a;
    width: 120px;
    height: 37px;
}
.picture{
   height: 440px;
   width: 600px;
   padding-left: 200px;
   
}

/* Main section styles */
.div_class2{
    background-color: #fff8f3;
    max-width: 1000px;
    margin: 100px auto;
}
.div_class3{
    display: flex;
    justify-content: space-around; 
    padding-top: 40px;
.div_class4{
    text-align: center;
}

}
#id5{
    padding: 0 10px;
    text-align: justify;
}
.h_class1{
    text-align: center;
    padding: 80px 0 0;
}
.p_class1{
    font-weight: 700;
}

.div_class5{
    max-width: 1000px;
    margin: 100px auto;
}
#id6{
    text-align: center;
}

.div_class6{
    display: flex;
    gap: 24px; 
    max-width: 1000px;
    margin: 100px auto;
}

.div_class7{
  border-radius: 5px;
  background-color: #fff;
  padding: 30px; 
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);
} 
.p_class2{
    text-align: justify;
} 

.div_class8{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
}
.div_class10{
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);
}

.h_class2, .h_class3{
    color: rgba(0, 0, 0, 0.712);
}

.p_class3{
    color: rgba(0, 0, 0, 0.658);
}

.p_class4{
    margin-top: -1em;
}

.div_class11{
    text-align: center;
    margin-top: 50px; 
}